@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}

header {
    position: relative;
    height: 100px;
    width: 1300px;
    margin: 0 auto;
}

header a,
nav a {
    text-decoration: none;
}

.top_button img {
    /* width: auto; */
    height: 18px;
    padding-left: 10px;
}

#main_logo {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 250px;
    height: auto;
}

.top_button {
    position: absolute;
    top: 25px;
    right: 0px;
}

.form-control {
    width: 320px;
    height: 30px;
    font-size: 17px;
    color: black;
    display: grid;
    place-items: center;
    border: 1px solid black;
    padding: 10px;
}

.header_search {
    position: absolute;
    top: 50px;
    right: 0px;
}

.nav_div {
    display: flex;
        width: 1300px;
    margin: 30px auto;
}

.nav_div a {
    text-decoration: none;
    color: #014D81;
}

.gnbbox {
    width: 870px;
    height: 210px;
    background: white;
    position: absolute;
    top: 180px;
    border: 5px solid #014D81;
    border-radius: 15px;
}

.nav_div li {
    font-family: 'Do Hyeon', sans-serif;
    list-style: none;
    line-height: 40px;
}

.gnb li {
    margin-right: 23px;
}

.gnb a {
    color: #014D81;
    font-size: 18px;
}

.gnb img {
    height: 25px;
}

.category {
    color: #014D81;
    display: flex;
    position: absolute;
}

.category_text {
    font-size: 25px;
    color: #014D81;
    line-height: 40px;
}

.nav_ul {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-between;
    width: 700px;
    margin-left: 100px;
}

.category_div {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    width: 1000px;
}

.category_div li {
    padding: 5px;
    /* margin-left: 5px; */
}

.gnb div {
    display: flex;
    align-items: center;
}

.li_text {
    padding-left: 8px;
}

.category_div li:nth-child(1) {
    margin-left: 15px;
}

.category_div li:nth-child(2) {
    margin-left: 15px;
}

.category_div li:nth-child(3) {
    margin-left: 15px;
}

.category_div li:nth-child(4) {
    margin-left: 15px;
}

.category_div li:nth-child(5) {
    margin-left: 15px;
}

.nav_ul li a:after {
    display: block;
    content: "";
    width: 90px;
    height: 10px;
    border-bottom: 1px solid #000;
    margin: -15px auto;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
}

nav ul li:hover a:after {
    transform: scaleX(1);
}

nav ul li:nth-child(2) a:after {
    width: 160px;
}

nav ul li:nth-child(3) a:after {
    width: 90px;
}

nav ul li:nth-child(4) a:after {
    width: 70px;
}

nav ul li:nth-child(5) a:after {
    width: 83px;
}


#banner {
  background: url(../img/banner.jpg);
  height: 300px;
  width: 1300px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 80px;
}

.h1 {
  font-size: 30px;
  color: #FF766B;
  font-weight: 500;
}

.section {
  width: 1300px;
  margin: 0px auto;
}

#product-list a{
  text-decoration: none;
  color: black;
}

.product-card{
  width: 180px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 20px;
}

#product-list{
  
  margin:12px;
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  justify-content: space-between;
}

.product-img{
  width: 220px;
  height: 220px;
  border: 2px solid #cacaca;
  /* border-radius: 12px; */
  
}

.product-contents{
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-weight: bold;
}

.product-name{
  font-size: 15px;
}

.product-price{
  font-size: 16px;
  font-weight: 600;
  margin-top: 2px;
}

.product-seller{
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 2px;
}

.product-avatar{
  width: 24px;
  margin-right: 2px;
}

.cart_div img {
  width: 64px;
  position: fixed;
  right: 200px;
  bottom: 100px;
  background-color: white;
  border: 3px solid #A83A4F;
  border-radius: 50%;
}

.product_div {
  width: 1300px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
}


.product_search {
  width: 500px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #FF766B;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.mm {
  width: 1300px;
  height: 500px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

.mm li {
  list-style: none;
}

.right_div {
  width: 630px;
  height: 300px;
  font-size: 40px;
  color: #FF766B;
}

.right_div_div {
  display: flex;
  overflow: hidden;
  margin-top: 15px;
}

.right_div_div ul {
  display: flex;
}

.right_div_div li {
  display: inline-block;
}

.right_div_div img {
  width: 630px;
  height: 450px;
 
}

.left_div {
  width: 630px;
  height: 300px;
  font-size: 40px;
  color: #FF766B;
}

.m_div {
  display: flex;
}

.left_div_div01, .left_div_div02 {
  margin-top: 15px;
}

.left_div_div01 img {
  width: 310px;
  height: 450px;
  margin-right: 30px;
  overflow: hidden;
}

.left_div_div01 strong {
  /* display: block; */
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.left_div_div02 ul {
  width: 310px;
  height: 450px;
}

.left_div_div02 img {
  width: 300px;
  height: 140px;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #014D81;
}

.footer_class {
  width: 1300px;
  height: 200px;
  margin: 0 auto;
  padding-top: 50px;
}

footer a {
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
}

footer p {
  color: #aaa;
  font-weight: 400;
}