<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}

header {
    position: relative;
    height: 100px;
    width: 1300px;
    margin: 0 auto;
}

header a,
nav a {
    text-decoration: none;
}

.top_button img {
    height: 18px;
    padding-left: 10px;
}

#main_logo {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 250px;
    height: auto;
}

.top_button {
    position: absolute;
    top: 25px;
    right: 0px;
}

.form-control {
    width: 320px;
    height: 30px;
    font-size: 17px;
    color: black;
    display: grid;
    place-items: center;
    border: 1px solid black;
    padding: 10px;
}

.header_search {
    position: absolute;
    top: 50px;
    right: 0px;
}

.nav_div {
    display: flex;
    width: 1300px;
    margin: 30px auto;
}

.nav_div a {
    text-decoration: none;
    color: #014D81;
}

.gnbbox {
    width: 870px;
    height: 210px;
    background: white;
    position: absolute;
    top: 180px;
    border: 5px solid #014D81;
    border-radius: 15px;
}

.nav_div li {
    font-family: 'Do Hyeon', sans-serif;
    list-style: none;
    line-height: 40px;
}

.gnb li {
    margin-right: 23px;
}

.gnb a {
    color: #014D81;
    font-size: 18px;
}

.gnb img {
    height: 25px;
}

.category {
    color: #014D81;
    display: flex;
    position: absolute;
}

.category_text {
    font-size: 25px;
    color: #014D81;
    line-height: 40px;
}

.nav_ul {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-between;
    width: 700px;
    margin-left: 100px;
}

.category_div {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    width: 1000px;
}

.category_div li {
    padding: 5px;
}

.gnb div {
    display: flex;
    align-items: center;
}

.li_text {
    padding-left: 8px;
}

.category_div li:nth-child(1) {
    margin-left: 15px;
}

.category_div li:nth-child(2) {
    margin-left: 15px;
}

.category_div li:nth-child(3) {
    margin-left: 15px;
}

.category_div li:nth-child(4) {
    margin-left: 15px;
}

.category_div li:nth-child(5) {
    margin-left: 15px;
}

.nav_ul li a:after {
    display: block;
    content: "";
    width: 90px;
    height: 10px;
    border-bottom: 1px solid #000;
    margin: -15px auto;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
}

nav ul li:hover a:after {
    transform: scaleX(1);
}

nav ul li:nth-child(2) a:after {
    width: 160px;
}

nav ul li:nth-child(3) a:after {
    width: 90px;
}

nav ul li:nth-child(4) a:after {
    width: 70px;
}

nav ul li:nth-child(5) a:after {
    width: 83px;
}


/* ν‘Έν„° μ‹μ‘ */
footer {
/*     position: absolute; */
    width: 100%;
    margin-top: 100px;
    background-color: #014D81;
}

.footer_class {
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    padding-top: 50px;
}

footer a {
    text-decoration: none;
    color: #aaa;
    font-weight: 400;
}

footer p {
    color: #aaa;
    font-weight: 400;
}

#signup_input {
    margin: 100px auto;
    width: 550px;
    margin-bottom: 100px;
    font-size: 20px;
    height: 1100px;
}

#input_title {
    width: 550px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    text-align: center;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
}

.input_info {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    text-align: center;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
}

#input_info02 {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 20px;
}

.input_info2 {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 20px;
}

#input_info3 {
    width: 550px;
    height: 200px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 15px;
}

.input_phone {
    height: 30px;
    font-size: 18px;
}

#input_final {
    width: 400px;
    height: 61px;
    font-size: 25px;
    border: 1px solid #c9c9ff;
    background-color: #c9c9ff;
    border-radius: 25px;
    margin-top: 30px;
}

.subnit_div {
	text-align: center;
}

#addr_btn {
    width: 550px;
    height: 135px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #f8f8f8;
    float: left;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 20px;
}

#sample6_postcode {
    width: 270px;
    height: 30px;
    font-size: 17px;
}

#sample6_address {
    width: 513px;
    height: 30px;
    font-size: 17px;
}

#sample6_detailAddress {
    width: 200px;
    height: 30px;
    font-size: 17px;
}

#sample6_extraAddress {
    width: 300px;
    height: 30px;
    font-size: 17px;
}

#addr_btn input {
    padding: 5px;
    margin: 3px;
}
#check{
	margin-left: 250px;
	font-size: 20px;
	width: 300px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
}